@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

text.month-name,
text.calendar-heatmap-legend-text,
text.day-initial {
  font-size: 10px;
  fill: inherit;
  font-family: Helvetica, arial, 'Open Sans', sans-serif;
}
rect.day-cell:hover {
  stroke: #555555;
  stroke-width: 1px;
}
.day-cell-tooltip {
  position: absolute;
  z-index: 999999;
  padding: 5px 9px;
  color: #bbbbbb;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 3px;
  text-align: center;
}
.day-cell-tooltip > span {
  font-family: Helvetica, arial, 'Open Sans', sans-serif
}
.calendar-heatmap {
  box-sizing: initial;
  overflow: visible;
}
.bar {
  fill: #79a8a9;
}
.axis {
  font-size: 13px;
}        
.axis path,
.axis line {
  fill: none;
  display: none;
}
        
.label {
  font-size: 13px;
}

body {
  padding: 0;
}

.container {
  padding-top: 20px;
}

.bag1 img {
  background-repeat: no-repeat;
  background-size: auto;
}

a, a:visited {
  color:#333;
}

#title {
  font-size: 2rem !important;
  font-size: 32px;
}

#container {
  padding-top:20px;
  width: 980px;
  border-left: 2px #ddd solid;
  border-right: 2px #ddd solid;
}

header {
  padding: 10px;
  /* background: url('/static/wall.jpg') no-repeat center; */
  background: rgb(65, 51, 51);
  background-size: cover;
  color: #fff;
}
header .container {
  padding-top: 0;
}
header h1 {
  font-size: 30px;
}

#book-title {
  font-family: georgia, "times new roman", times, serif;
  color: #555;
  font-size: 2.3em;
  text-align: center;
}


#text-select {
  float:right;
  margin-right: 10px;
}

#vis {
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}

#titletext {
  margin-top: 50px;
}

#status {
  padding:0 0 20px 20px;
}

#controls {
  padding: 20px;
  background-color: #eee;
  margin: 10px;
  width: 350px;
}

#bubble-background {
  fill: none;
  pointer-events: all;
}

.bubble-node {
  /* fill: #d1e0f3; */
  fill: #DCE9BE;
}

.bubble-hover {
  /* fill: #b8c7d9; */
  fill: #E8E9E7;
}

.bubble-selected {
  /* fill: #a8c8ee;  */
  fill: #CEE98F;
  /* stroke: #6081a3; */
  stroke: #A6BA92;
  stroke-width: 1.5px;
}

.active {
  color: #A6BA92
}

a.bubble-label {
  font-family: georgia, "times new roman", times, serif;
  color: inherit;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 1em;
  position: absolute;
}


.bubble-label .bubble-label-value {
  font: 11px sans-serif;
  white-space: nowrap;
}

footer p {
  text-align: center;
  padding-top:20px;
  padding-bottom:20px;
  font: 13px sans-serif;
}

.card:hover {
  box-shadow: 0px 0px 4px rgb(30, 148, 238);
}

.loading {
  width: 100%;
  height: 200px;
}

.panel-heading i {
  cursor: pointer;
}

.small-graph {
  width: 100%;
  height: 250px;
  border: 1px solid #aaa;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
    max-width:1200px;
  }
}

.recommend {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 2% 0;
  background: rgba(74, 74, 74, 0.9);
  width: 100%;
  text-align: center;
  z-index: 1000;
}
.recommend a {
  color: #fff;
}

#rowwrapper {
  margin-bottom: 100px;
}