<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Book Recommendation System</title>

	<!-- Bootstrap core CSS -->
	<link href="static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
	<link href="static/css/4-col-portfolio.css" rel="stylesheet">
	<link href="static/css/buttons.css" rel="stylesheet">
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="static/css/slide.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="static/vendor/jquery/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>
	<script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
	<script>
		function addImage(pk) {
			alert("addImage: " + pk);
		}

		$('#myModal .save').click(function (e) {
			e.preventDefault();
			addImage(5);
			$('#myModal').modal('hide');
			//$(this).tab('show')
			return false;
		})
	</script>
</head>

<body>
	<header>
		<div class="container">
			<h1>Book Recommendation System</h1>
			<h4>What you should read next?</h4>
		</div>
	</header>

	<!-- <div class="jumbotron jumbotron-fluid"> -->
	<!-- Page Content -->
	<div style="padding: 16px;">
		<div class="panel panel-default" id="overview" >
			<div class="panel-heading"><i class="fa fa-bar-chart" aria-hidden="true"></i> Data Overview <i
					class="fa fa-chevron-up float-right"></i></div>
			<div class="panel-body">
				<div class="col-md-3">
					<div class="small-graph">
						<div id="ratingperuser"></div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="small-graph">
						<div id="meanratingperuser"></div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="small-graph">
						<div id="ratingsperbook"></div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="small-graph">
						<div id="meanratingsperbook"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		



		<!-- <div class="bag1">
				
				<div class="icon-bar">
					<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
					<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
					<a href="#" class="google"><i class="fa fa-google"></i></a>
					<a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
					<a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
				</div>
			</div>	 -->
		<br>
		<h3>
			<span><i class="fa fa-star-half-o" aria-hidden="true"></i> Rate as many books as you can!</span>
			<div class="col-md-4 float-right no-padding">
				<div class="input-group">
					<input type="text" class="float-right" name="book-search" id="book_search"
						placeholder="Search Books">
					<span class="input-group-addon"><i class="fa fa-search"></i></span>
				</div>
			</div>
		</h3>
		<hr>
		<!-- <div class="row pre-scrollable" style="max-height: 65vh"s id="rowwrapper"></div> -->
		<div class="row" id="rowwrapper"></div>
	</div>
	<!-- </div> -->

	<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
		aria-hidden="true" id="myModal">
		<div class="modal-dialog modal-xl" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle"><b>Here are our recommendations for you!</b></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div role="tabpanel">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation"><a href="#simUser" aria-controls="simUser" role="tab" data-toggle="tab">Similar Users</a>
							</li>
							<li role="presentation" class="active"><a href="#recBooks" aria-controls="recBooks" role="tab" data-toggle="tab">Recommended Books</a></li>
							<li role="presentation"><a href="#displayHeatmap" aria-controls="displayHeatmap" role="tab" data-toggle="tab">Heatmap</a></li>
							<li role="presentation"><a href="#displayRatings" aria-controls="displayRatings" role="tab" data-toggle="tab">Ratings</a></li>
						</ul>
						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane" id="simUser">
								<div id="similar_user"></div>
							</div>

							<div role="tabpanel" class="tab-pane active" id="recBooks">
								<div id="vis" height="600"></div>
								<div class="jumbotron jumbotron-fluid" style="padding: 50px;">
									<h5><i>double click on the circle</i></h5><br>
									<div id="textDesc"></div>
								</div>
							</div>

							<div role="tabpanel" class="tab-pane" id="displayHeatmap">
								<div id="heatmap"></div>
							</div>

							<div role="tabpanel" class="tab-pane" id="displayRatings">
								<div id="ratingBar"></div>
								<figure class="highcharts-figure">
									<div id="containerbar"></div>
								</figure>
							</div>
						</div>
					</div>

				</div>

				<div class="modal-footer">

					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Bootstrap core JavaScript -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
	<script src="http://code.highcharts.com/modules/heatmap.js"></script>
	<script type="text/javascript" src="static/js/calmap.js"></script>
	<script type="text/javascript" src="static/js/pageone.js"></script>
	<script type="text/javascript" src="static/js/displayStats.js"></script>
</body>

</html>